.container-fluid{
    text-align: center;
    padding: 20px;
    height: 300%;
}

.btn-lg {
    height:300px;
    width: 500px;
}

.vertically-centered{
    position:absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}